<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <description>
            The default error page to be forwarded to when a LoginException occurs.
        </description>
        <param-name>
            eu.cec.digit.ecas.client.dispatch.forward.defaultError
        </param-name>
        <param-value>/authentication-error</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>public/index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/not-found</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>@artifact.name@</web-resource-name>
            <description>
                Sets role-name and secures POST access to the SOAP web services
            </description>
            <url-pattern>/soap/ws/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>NODE-SERVICE-ROLE</role-name>
            <role-name>USER-REGISTRATION-SERVICE-ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>@artifact.name@</web-resource-name>
            <description>
                Denies all HTTP methods except POST for the SOAP web services
            </description>
            <url-pattern>/soap/ws/*</url-pattern>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>@artifact.name@</web-resource-name>
            <description>
                Allow GET method for UserRegistration-v1.0 SOAP web services
            </description>
            <url-pattern>/soap/ws/wsdl/UserRegistration-v1.0.wsdl</url-pattern>
            <http-method-omission>GET</http-method-omission>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>

    <security-role>
        <role-name>NODE-SERVICE-ROLE</role-name>
    </security-role>
    <security-role>
        <role-name>USER-REGISTRATION-SERVICE-ROLE</role-name>
    </security-role>

    <listener>
        <listener-class>eu.cec.digit.ecas.client.proxy.ProxyCacheInit</listener-class>
    </listener>

    <login-config>
        <auth-method>CLIENT-CERT,BASIC</auth-method>
        <realm-name>@artifact.name@ Realm</realm-name>
    </login-config>
</web-app>
