<span>{{templateVariables.subsidiarityCheck}}</span>

<!-- This is a "Nice to have". Not implemented for the moment
<div>
  <ul class="message-summary-content">
    <li class="attachment"
        v-for="work in templateVariables.document.works"
        :key="work.reference"
        :value="work.reference"
    >
      <a href="#" class="btn btn-link ico-conjunction">
        <i title="Download" class="ico-download"></i>En
      </a>
      <a href="#" class="btn btn-link ico-conjunction">
        <i title="Download" class="ico-download"></i>Fr
      </a>
      <a href="#" class="btn btn-link ico-conjunction">
        <i title="Download" class="ico-download"></i>Nl
      </a>
      <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">...</a>
      <span class="collapse" id="collapseExample">
        <a href="#" class="btn btn-link ico-conjunction">
          <i title="Download" class="ico-download"></i>Ro
        </a>
        <a href="#" class="btn btn-link ico-conjunction">
          <i title="Download" class="ico-download"></i>Pl
        </a>
      </span>
    </li>
  </ul>

  <ul>
    <li
        v-for="work in templateVariables.document.works"
        :key="work.reference"
        :value="work.reference"
        class="item"
    > foo
    </li>
  </ul>
</div>
-->
